@tailwind base;

@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  image-rendering: pixelated;
  overflow: hidden;
  max-height: 100vh;
}

.button-std {
  @apply w-32;
  @apply rounded-md;
  @apply bg-primary-600;
  @apply text-white;
  @apply drop-shadow-md;
  @apply hover:bg-primary-700;
}
